#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #3f3f3f;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.powered {
  color: #3f3f3f;
  clear: both;
}
.powered a {
  color: #5f5f5f;
  text-decoration: none;
}
.powered a:hover {
  color: #3f3f3f;
  text-decoration: underline;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

div.container {
  padding: 10px;
  text-align: center;
  width: max-content;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.67);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px); */
}

ul.social-list,
ul.mini-links {
  list-style-type: none;
  padding: 0;
}

.ul.social-list > li {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

ul.mini-links {
  float: right;
  padding: 0;
  margin: 0;
}

.share {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 25px;
  cursor: pointer;
}

ul.mini-links > li {
  display: inline-block;
  /* float: right; */
}

ul.mini-links > li > a {
  cursor: pointer;
}
ul.mini-links > li > a > i {
  font-size: 25px;
}
ul.social-list > li.social-item {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 15px;

  border-radius: 15px;
}
ul.social-list > li.social-item > a.social-link-link {
  color: inherit;
  text-decoration: none;
  padding: 15px;
  display: block;
  cursor: pointer;
}

.footer {
  clear: both;
  color: #3f3f3f;
}

.icon {
  font-size: 100px;
}

.image {
  border-radius: 50%;
  width: 200px;
}

@media only screen and (max-width: 360px) {
  ul.social-list > li.social-item {
    width: 200px;
  }
}

@media only screen and (max-width: 250px) {
  ul.social-list > li.social-item {
    width: 150px;
  }
  .image {
    width: 150px;
  }
}
body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: scroll; */
  margin: 0;
  padding: 0;
}
.smallimage {
  border-radius: 50%;
}
.debug {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
a.heading-link {
  color: inherit;
}

a.heading-link {
  text-decoration: none;
}
