<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Could not find config</title>
  </head>
  <body>
    <h1>Could not find config.yml or config.json</h1>
    <h2>Skarf Version: {{ the_version }}</h2>
    It is required to have a config to load this app correctly.
    <h3>(Maybe) Helpful Links</h3>
    <br />
    <a
      href="https://github.com/woooferz/skarf/blob/master/config/config.yml"
      target="yaml_example"
      >Example Config YAML</a
    >
    <br />
    <a
      href="https://github.com/woooferz/skarf/blob/master/config/config.json"
      target="json_example"
      >Example Config JSON</a
    >
    <br />
    <a href="https://github.com/woooferz/skarf" target="skarf_github"
      >Skarf Github</a
    >
    <br />
  </body>
</html>
